/* Universal Styles */

body {
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: rgba(228, 220, 220, 0.979);
}

header nav {
    flex-basis: 100%;
    margin-top: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-size: 1.5rem;
    color: #4a4a4a;
}

header .logo {
    max-width: 400px;
}

header .logo a img {
    width: 100%;
}

/* Sub Header */

.sub-header {
    display: flex;
    align-items: center;
    height: 37.5rem;
    background-repeat: no-repeat;
    background-image: url('./assets/wesley-tingey-dKCKiC0BQtU-unsplash.jpg');
    background-position: center;
}

.sub-header-txt {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: lightgrey;
    text-shadow: 2px 2px 8px #FF0000;
    font-family: 'Lobster', cursive;
    padding: 0 3rem;
}

/* Statement */

.statement{
    text-align: center;
    font-family: 'Indie Flower';
    margin: 5rem 0;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.statement h2 {
    font-size: 2rem;
}

.statement h3, .statement p{
    font-size: 1.5rem;
}

@media only screen and (max-width: 760px) {
    .statement h2 {
        font-size: 2.5rem;
    }
}

.statement h3, .statement p{
    font-size: 2rem;
}

/* Gallery */

.gallery {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
    flex-wrap: wrap;
}

.feature {
    width: 30%;
    box-shadow: 10px 10px 5px grey;
}

.feature img {
    max-width: 100%;
}

@media only screen and (max-width: 1000px) {
    .feature {
        width: 95%;
        margin: 2rem auto;
    }
}

/* Mid Section */

.mid-section {
    padding: 2rem;
    margin: 3rem 0;
    background-repeat: no-repeat;
    background-color: darkcyan;
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Bottom Section */

.bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

.bottom-section .row {
    width: 80%;
    height: auto;
}

.bottom-section .row .img {
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    width: 50%;
}

.row .one {
    background: url('./assets/vince-fleming-aZVpxRydiJk-unsplash.jpg');
    float: right;
    border-radius: 0 100px 0 0;
}

.row .two {
    background-image: url('./assets/lars-bo-nielsen-xewH-utuFYA-unsplash.jpg');
    float: left;
    border-radius: 0 0 0 100px;
}

.bottom-section .row .txt {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 3rem;
    box-sizing: border-box;
}

.bottom-section .row .left {
    background-color: rgb(77, 201, 194);
    float: left;
    border-radius: 100px 0 0 0;
}

.bottom-section .row .right {
    background-color: rgb(169, 128, 216);
    float: right;
    border-radius: 0 0 100px 0;
}

.bottom-section .row h1, .row h4 {
    font-weight: 100;
    color: white;
}

.bottom-section .row button {
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 15rem;
    padding: 1rem;
    transition-duration: 0.4s;
    margin-top: 3rem;
}

.bottom-section .row button:hover {
    background-color: gray;
    color: white;
}

@media only screen and (max-width: 1100px) {
    .bottom-section .row .txt {
        width: 100%;
        padding: 1rem 4rem;
        height: auto;
        box-sizing: border-box;
    }
    .bottom-section .row .img {
        width: 100%;
        height: 25rem;
    }
    .bottom-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
    }
    .row .one {
        border-radius: 0;
    }
    .row .two {
        border-radius: 0;
    }
    .bottom-section .row .left {
        border-radius: 0;
    }
    .bottom-section .row .right {
        border-radius: 0;
    }
}

/* Footer */

footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
}